body {
  background: #2c3e50;
  box-sizing: border-box;
  margin-block: 0;
  font-family: "Open Sans", sans-serif;
}
p,
hr {
  margin-block-start: unset;
  margin-block-end: unset;
}
.success {
  color: #2fca4f;
}

.github-credit {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #2c3e50;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.github-credit p {
  display: flex;
  gap: 0.5rem;
  color: #fff;
  text-align: center;
  font-size: large;
  padding-block: 0.5rem;
}
.github-credit p a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: royalblue;
}
.github-credit p a:hover {
  color: #fff;
}
#result {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  place-items: center;
  text-align: center;
  margin-top: 0.5rem;
}

.color-card {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  z-index: 1;
  background-color: #2c3e50;
  transition: all 300ms ease;
}
.color-card:hover {
  border-radius: 2px;
  /* outline: 1px solid #fff; */
  z-index: 2;
}
.color-card:hover > .color-card-bg {
  /* border-radius: 100%; */
  outline: 5px solid #000;
  transform: scale(0.75);
}
.color-card .color-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0.5rem auto;
  color: lightblue;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  border-top: 1px solid #000;
  transition: all 50ms ease-out;
}
.color-card .color-code p {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.color-card:hover > .color-code {
  opacity: 1;
  visibility: visible;
}
.color-card .color-card-bg {
  display: block;
  width: 150px;
  height: 150px;
  transition: all 300ms ease;
}
.color-card .copy-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0rem 0.25rem;
  font-size: large;
  border-radius: 4px;
}
/* loader styles (codepen) */
.loaders {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
}

.loaders-wrapper {
  position: relative;
  /* [1] */
  width: 150px;
  height: 150px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* [2] */
  box-sizing: content-box;
  /* [3] */
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 0;
}
.loaders-wrapper > * {
  /* [4] */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -15px;
}
.loaders-wrapper > *:nth-of-type(1) {
  transform: rotate(0deg) translate(75px) rotate(-0deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(2) {
  transform: rotate(45deg) translate(75px) rotate(-45deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(3) {
  transform: rotate(90deg) translate(75px) rotate(-90deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(4) {
  transform: rotate(135deg) translate(75px) rotate(-135deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(5) {
  transform: rotate(180deg) translate(75px) rotate(-180deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(6) {
  transform: rotate(225deg) translate(75px) rotate(-225deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(7) {
  transform: rotate(270deg) translate(75px) rotate(-270deg) scale(1);
}
.loaders-wrapper > *:nth-of-type(8) {
  transform: rotate(315deg) translate(75px) rotate(-315deg) scale(1);
}
.loaders-wrapper > *:nth-child(1) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 1.2s infinite reverse;
}
.loaders-wrapper > *:nth-child(2) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 2.4s infinite reverse;
}
.loaders-wrapper > *:nth-child(3) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 3.6s infinite reverse;
}
.loaders-wrapper > *:nth-child(4) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 4.8s infinite reverse;
}
.loaders-wrapper > *:nth-child(5) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 6s infinite reverse;
}
.loaders-wrapper > *:nth-child(6) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 7.2s infinite reverse;
}
.loaders-wrapper > *:nth-child(7) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 8.4s infinite reverse;
}
.loaders-wrapper > *:nth-child(8) {
  animation-fill-mode: none;
  animation: dotDance 0.8s cubic-bezier(0.77, 0.1, 0.175, 1) infinite 0s
      alternate,
    changeIndex 0.2s linear 9.6s infinite reverse;
}

.loader {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 30px;
}
.loader:nth-child(1) {
  background: #886477;
}
.loader:nth-child(2) {
  background: #49dad6;
}
.loader:nth-child(3) {
  background: #9bd7cd;
}
.loader:nth-child(4) {
  background: #979588;
}
.loader:nth-child(5) {
  background: #8e614d;
}
.loader:nth-child(6) {
  background: #f4a53f;
}
.loader:nth-child(7) {
  background: #4e9cc5;
}
.loader:nth-child(8) {
  background: #804000;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dotDance {
  0% {
    transform: translate(0%) scale(4);
  }
}
@keyframes changeIndex {
  0%,
  100% {
    z-index: 2;
  }
}
